:root {
  --colour-one: #bfd8d2;
  --colour-two: #fedcd2;
  --colour-three: #df744a;
  --colour-four: #dcb239;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
a {
  margin: 0px;
  padding: 0px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Header {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: fixed;
  top: 0px;
  font-weight: bold;
  padding-top: 20px;
}

.Header-Left {
  margin-left: 100px;
}

.Header-Left > a {
  font-size: 1.3rem;
}

.Header-Right {
  margin-right: 100px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.Header-Right > a {
  margin-left: 50px;
  font-size: 1.1rem;
}

.Top {
  background-color: var(--colour-one);
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.Top-Inner {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
}

.Top-Inner > h1 {
  font-size: 5rem;
  font-weight: bold;
}

.Top-Inner > h2 {
  font-size: 2rem;
  color: grey;
  font-weight: normal;
}

.Top-Inner-Img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
}

.test {
  height: 1000px;
}
