.App {
  text-align: center;
}

h1,
h2,
a {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Top {
  background-color: var(--colour-one);
  width: 100%;
  height: 100vh;
  justify-content: center;
  -webkit-box-shadow: 0px -5px 30px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -5px 30px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -5px 30px 15px rgba(0, 0, 0, 0.75);
  position: relative;
}

.Top-Inner {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
}

.Top-Inner > h1 {
  font-size: 5rem;
  color: var(--colour-two);
  font-weight: bold;
}

.Top-Inner > h2 {
  font-size: 2rem;
  color: var(--colour-two);
  opacity: 0.65;
  font-weight: normal;
}

.Top-Inner-Img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
}

.Section {
  background-color: var(--colour-two);
}

.Section > h2 {
  font-size: 2rem;
  padding-bottom: 40px;
  padding-top: 80px;
}

.Team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.Team-Member {
  margin-left: 40px;
  margin-right: 40px;
}

.Team-Member > img {
  width: 180px;
  border-radius: 100px;
}

.Team-Member > h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.Team-Member > h4 {
  font-size: 1rem;
  opacity: 0.65;
  margin-top: 0px;
}

.LatestNews {
  position: relative;
  background-color: var(--colour-one);
  width: 100%;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
  padding-top: 50px;
  padding-bottom: 50px;
}

.LatestNews-Inner {
  margin-left: 30vw;
  margin-right: 30vw;
}

.Contact-Field {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  margin-right: 30vw;
  justify-content: flex-start;
  margin-top: 0px;
}

.Contact-Field > p {
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.Contact-Field > input {
  margin: 0px;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
  font-family: sans-serif;
}

.Contact-Field > textarea {
  height: 200px;
  margin: 0px;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
  font-family: sans-serif;
  resize: none;
}

.Contact {
  padding-bottom: 150px;
}

.Contact > button {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--colour-four);
  border-style: none;
}

.Contact > button:hover {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--colour-four-dark);
  cursor: pointer;
  border-style: none;
}

.Contact-Email-Shown {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--colour-three);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.Contact-Email-Hidden {
  position: fixed;
  transition: all 0.2s ease-in-out;
  bottom: 0;
  right: 0;
}

.Contact-Loading {
  width: 60px;
}

.Footer {
  background-color: white;
  padding: 15px;
}

.Footer > a {
  margin-right: 15px;
  margin-left: 15px;
  color: grey;
}
