.App {
  text-align: center;
}

h1,
h2,
a {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Top {
  width: 100%;
  height: 100vh;
  justify-content: center;
  -webkit-box-shadow: 0px -5px 30px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -5px 30px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -5px 30px 15px rgba(0, 0, 0, 0.75);
  position: relative;
  background-image: url("../Resources/Top-BG.jpg");
  background-size: cover;
  background-position: right;
}

.Top-Inner {
  display: flex;
  padding-top: 20vh;
  justify-content: center;
  align-items: center;
}

.Top-Inner > img {
  height: 7.8rem;
  margin-right: 15px;
}

.Top-Inner > div {
  margin-left: 15px;
}

.Top-Inner > div > h1 {
  color: white;
  font-weight: bold;
}

.Top-Inner > div > h2 {
  font-size: 2rem;
  color: white;
  opacity: 0.65;
  font-weight: normal;
}

.Top-Inner-Img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  max-width: 100%;
}

.Section {
  background-color: var(--colour-two);
}

.Section > h2 {
  font-size: 2rem;
  padding-bottom: 40px;
  padding-top: 50px;
}

.About {
  padding-top: 100px;
}

.About-Section {
  display: flex;
  flex-wrap: wrap;
  flex: 0;
  padding-top: 150px;
}

.About-Row {
  flex-direction: row;
}

.About-Row-Reverse {
  flex-direction: row-reverse;
}

.About-Image {
}

.About-Image > img {
  max-width: 80%;
  max-height: 100%;
}

.About-Content {
  text-align: left;
}

.About-Content > h2 {
  font-size: 3rem;
  margin-left: 50px;
  margin-right: 50px;
}

.About-Content > h3 {
  font-size: 1.1rem;
  margin-left: 50px;
  margin-right: 50px;
  opacity: 0.65;
}

.Team-Section {
  padding-top: 100px;
}
.Team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 150px;
}

.Team-Member {
  margin-left: 40px;
  margin-right: 40px;
}

.Team-Member > img {
  width: 180px;
  border-radius: 100px;
}

.Team-Member > h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.Team-Member > h4 {
  font-size: 1rem;
  opacity: 0.65;
  margin-top: 0px;
}

.LatestNews {
  position: relative;
  background-color: var(--colour-one);
  width: 100%;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239cc3d5' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.LatestNews-Left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LatestNews-Left > img {
  width: 200px;
}

.LatestNews-Right {
  flex: 1;
  text-align: left;
  margin-left: 20px;
}

.LatestNews-Right > h2 {
  color: var(--colour-two);
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 30px;
}

.LatestNews-Right > h3 {
  color: var(--colour-two);
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.LatestNews-Button {
  background-color: var(--colour-four);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 1rem;
  border-style: none;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.LatestNews-Button:hover {
  background-color: var(--colour-four-dark);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 1rem;
  border-style: none;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.Contact-Field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0px;
}

.Contact-Field > p {
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.Contact-Field > input {
  margin: 0px;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
}

.Contact-Field > textarea {
  height: 200px;
  margin: 0px;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
  font-family: sans-serif;
  resize: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.Contact {
  padding-top: 100px;
  padding-bottom: 150px;
}

.Contact > button {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--colour-four);
  border-style: none;
}

.Contact > button:hover {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--colour-four-dark);
  cursor: pointer;
  border-style: none;
}

.Contact-Email-Shown {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--colour-three);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.Contact-Email-Hidden {
  position: fixed;
  transition: all 0.2s ease-in-out;
  bottom: 0;
  right: 0;
}

.Contact-Loading {
  width: 60px;
}

@media screen and (max-width: 641px) {
  .About-Section {
    margin-left: 10px;
    margin-right: 10px;
  }

  .Contact-Field {
    margin-left: 20px;
    margin-right: 20px;
  }

  .LatestNews-Left {
    margin-left: 20px;
  }

  .LatestNews-Right {
    margin-right: 20px;
  }

  .LatestNews {
    flex-direction: column;
  }

  .LatestNews-Left {
    display: none;
  }

  .About-Row {
    flex-direction: column;
  }

  .About-Row-Reverse {
    flex-direction: column;
  }

  .About-Image {
    margin-bottom: 10px;
  }

  .About-Image > img {
    max-width: 60vw;
    max-height: 100vw;
  }

  .About-Content {
  }

  .About-Content > h2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .About-Content > h3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .Top-inner > div {
    margin-left: 0xp;
  }

  .Top-Inner > div > h1 {
    font-size: 15vw;
  }

  .Top-Inner {
    flex-direction: column;
  }

  .Top-Inner > img {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 641px) {
  .About-Section {
    margin-left: 10px;
    margin-right: 10px;
  }

  .Contact-Field {
    margin-left: 50px;
    margin-right: 50px;
  }

  .LatestNews-Left {
    margin-left: 50px;
  }

  .LatestNews-Right {
    margin-right: 50px;
  }

  .About-Image {
    flex: 2;
  }

  .About-Content {
    flex: 5;
  }

  .Top-Inner > div > h1 {
    font-size: 5rem;
  }

  .Top-Inner {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .About-Section {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .Contact-Field {
    margin-left: 30vw;
    margin-right: 30vw;
  }

  .LatestNews-Left {
    margin-left: 30vw;
  }

  .LatestNews-Right {
    margin-right: 30vw;
  }

  .About-Image {
    flex: 2;
  }

  .About-Content {
    flex: 5;
  }

  .Top-Inner > div > h1 {
    font-size: 5rem;
  }

  .Top-Inner {
    flex-direction: row;
  }
}
