.HashLink {
  text-decoration: none;
  color: var(--colour-two);
}

.Header {
  z-index: 999;
  display: flex;
  width: 100%;
  flex-direction: row;
  position: fixed;
  top: 0px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header-Left {
  margin-left: 20vw;
}

.Header-Left > a {
  font-size: 1.3rem;
}

.Header-Right {
  margin-right: 20vw;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.Header-Right > a {
  margin-left: 50px;
  font-size: 1.1rem;
}

.Footer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
  padding-bottom: 0px;
  text-align: center;
  flex-wrap: wrap;
}

.Footer > a {
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  color: grey;
}

.Header-HamburgerMenu {
  position: fixed;
  right: 20px;
  top: 30px;
  z-index: 997;
  width: 35px;
}

.Header-HamburgerMenuExpanded {
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--colour-one);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
}

.Header-HamburgerMenuLink {
  margin-bottom: 50px;
  font-size: 2rem;
  text-decoration: none;
  color: var(--colour-two);
}

.Header-HamburgerMenuExpanded-X {
  position: fixed;
  z-index: 999;
  right: 20px;
  top: 20px;
  width: 30px;
}

@media screen and (max-width: 641px) {
  .Header-Left {
    margin-left: 0px;
  }

  .Header-Right {
    margin-right: 0px;
  }
}

@media screen and (min-width: 641px) {
  .Header-Left {
    margin-left: 20px;
  }

  .Header-Right {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .Header-Left {
    margin-left: 15vw;
  }

  .Header-Right {
    margin-right: 15vw;
  }
}
