.HashLink {
  text-decoration: none;
  color: var(--colour-two);
}

.Header {
  z-index: 999;
  display: flex;
  width: 100%;
  flex-direction: row;
  position: fixed;
  top: 0px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Header-Left {
  margin-left: 20vw;
}

.Header-Left > a {
  font-size: 1.3rem;
}

.Header-Right {
  margin-right: 20vw;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.Header-Right > a {
  margin-left: 50px;
  font-size: 1.1rem;
}

.Footer {
  background-color: white;
  padding: 15px;
  text-align: center;
}

.Footer > a {
  margin-right: 15px;
  margin-left: 15px;
  color: grey;
}
